* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    /* Esto define la "longitud" del scroll para completar el giro */
    height: 1000vh;
    overflow: auto;
    /* Firefox */
    scrollbar-width: auto;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar,
.info .profesores::-webkit-scrollbar {
    /* Chrome, Edge, Safari */
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header nav {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 2;
}

.close {
    opacity: 0;
    pointer-events: none;
}

.hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.info {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .45s ease;
    z-index: 3;
}

.info .close-button {
    position: fixed;
    top: 0;
    right: 0;
}

.info .block-info {
    width: calc(640px + 6em);
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.info .slider {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: solid 2px;
}

.info .profesores,
.info .personal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    transition: all .45s ease;
    overflow: auto;
    scrollbar-width: none;
}

.info .profesores>div,
.info .personal>div{
    padding: 1em;
    transition: all .45s ease;
}

.info .profesores>div:hover,
.info .personal>div:hover,
.info .profesores>div:focus,
.info .personal>div:focus
 {
    background-color: aquamarine;
}


.card {
    max-width: 200px;
    background-color: red;
}