* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    /* Esto define la "longitud" del scroll para completar el giro */
    height: 1000vh;
    overflow-y: scroll;
    /* Firefox */
    scrollbar-width: none;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    /* Chrome, Edge, Safari */
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 2;
}

.close {
    opacity: 0;
    pointer-events: none;
}

.hidden{
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.info {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .45s ease;
    z-index: 3;
}

.info .close-button {
    position: fixed;
    top: 0;
    right: 0;
}

.info .block-info {
    width: calc(640px + 6em);
    overflow: clip;
}

.info .profesores {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    right: 0;
    transition: all .45s ease;
}

.info .profesores>div {
    padding: 1em;
    transition: all .45s ease;
}

.info .profesores>div:hover,
.info .profesores>div:focus{
    background-color: aquamarine;
}

.card {
    max-width: 200px;
    background-color: red;
}